<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

        <script type="text/javascript" src="static/js/tableauAPI.js"></script>
    </head>

<body>
    <!-- The div where we will inject our Tableau -->
    
    <div class="container-fluid">
        
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title text-center">Paper</h1>
                    <iframe src="https://docs.google.com/document/d/e/2PACX-1vTsPiEaSrSwpPyCPLBeNU9yaMC37bROEy7y7uGLc_HRwAZVAZ6tNNNRI7x5OXs4AfjwSLhpZk_qxJ3K/pub?embedded=true"></iframe>

                </div>
        </div>
    </div>
</body>

</html>