<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <title>About Us</title>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

        <script type="text/javascript" src="static/js/tableauAPI.js"></script>
    </head>

<body>
    <!-- The div where we will inject our Tableau -->
  

    <a href="https://docs.google.com/document/d/1PRuQrhwTyrcL8a_FqZYS10HnYxVK7VPoYtNGKdom-3s/edit?usp=sharing" type="button" class="btn btn-primary">Final Paper</a>

   

</body>

</html>