<!DOCTYPE html>
<html lang="en-us">

    <head>
        <meta charset="utf-8">
        <title>Tableau</title>
        <!-- Boostrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css">
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>

        <script type="text/javascript" src="static/js/tableauAPI.js"></script>
    </head>

<body>
    <!-- The div where we will inject our Tableau -->
  
    
    <div id="tableauParent" class="container-fluid">
        <div style="height:700px" id="tableauViz"></div>
    </div>
</body>

</html>